body{margin:auto; 
}


@keyframes nav1{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(0);
	}
}

#nav1Css{
	background:none; border:none; background-image:  
	linear-gradient(to right, #0e05c6, #140173) ;
	animation:nav1 1.3s ease-in 0.01s;
	animation-fill-mode: forwards;
	transform: translateY(-100%);
}













.frontCss{
	background-image:  linear-gradient(to right, #0e05c6, #140173) ;
	background-size:cover;
	padding:0px 0px 200px 0px;
}

#nav1Css #navcontentCss{
	padding:20px 0px 20px 0px;
	border-bottom:1px white solid;
}

#navcontentCss #linksCss ul li a:link{ font-family: 'Poppins', sans-serif;
color:white;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;}
#navcontentCss #linksCss ul li a:visited{color:white;}
#navcontentCss #linksCss ul li a:hover{background-image: linear-gradient(to right, #0e05c6, #6040fd);
color:white; border-radius:15px; 
font-weight: 500; transition:0.3s;}
#navcontentCss #linksCss ul li a:active{color:green;}

@keyframes get2{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
	}

#getCss #get2Css{
	animation:get2 2s ease-in 0.01s;
	animation-fill-mode: forwards;
	opacity:0;
}

@keyframes get3{
	0%{
		transform: translateX(10000px);
	}
	90%{
		transform: translateX(150px);
	}
	100%{
		transform: translateX(0);
	}
}

#get3Css{
	animation:get3 0.8s ease-in 1.3s;
	animation-fill-mode: forwards;
	transform: translateX(10000px);
}

#getCss #get2Css h1{ margin-top:190px;
	font-family: 'Poppins', sans-serif;
    color:white;
    font-weight: 600;
    line-height: 40px;
}
#getCss #get2Css h1 span{
	color:blue;
}
#getCss #get2Css p{ 
	font-family: 'Poppins', sans-serif;
    color:white;
    font-weight: 500;
    
}

#getCss #get2Css ul{list-style:none; margin-left:-40px; }
#getCss #get2Css ul li{display:inline; padding:0px  20px 0px 0px;}



#getCss #get2Css ul li a:link{font-family: 'Poppins', sans-serif;
color:white;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px; background-image: linear-gradient(to right, #0e05c6, #6040fd) ;
border-radius:15px;	
border:1px white solid; padding:15px 50px 15px 50px;  text-decoration:none;
}
#getCss #get2Css ul li a:visited{ color:white;}
#getCss #get2Css ul li a:hover{  background-image: linear-gradient(to right, #6040fd, #0e05c6 ) ;
transition:0.8s;
font-weight: 600; border:none;}
#getCss #get2Css ul li a:active{color:green;}





#packages h1{text-align:center;
	font-family: 'Poppins', sans-serif;
color:#140173;
    font-weight: 700;
    line-height: 30px;
	  padding:50px 0px 50px 0px;
	  font-size:50px;
}



#packages #subpackCss img{
	margin:auto;
}
#packages #subpackCss h3{
	text-align:center; color:white;
	font-family: 'Poppins', sans-serif;
    font-weight: 500;
  
}

#packages #subpackCss{
	background-image: linear-gradient(to right, #0e05c6, #140173);
	border-radius:10px; 
	padding: 10px;
}

#packages #subpackCss:hover{background-image: linear-gradient(to right, #140173, #0e05c6);}

#packages{
	padding: 35px;
}

#packages #subpackCss a:link{text-decoration:none;}
#packages #subpackCss a:visited{color:white;}


#standardlogoCss{
	background-image:linear-gradient(to right, #0e05c6, #140173);
	padding: 35px;
}
#standardlogoCss #standardlogo2Css #standardlogo3Css h1{
	font-family: 'Poppins', sans-serif;
color:blue;
    font-weight: 700;
    line-height: 60px;
	  font-size:50px;
	  text-align:left;
}

#standardlogoCss #standardlogo2Css #standardlogo3Css p{
	font-family: 'Poppins', sans-serif;
color:white;
    font-weight: 700;
   text-align:left;
	  font-size:18.7px;
}

#standardlogoCss #standardlogo2Css #standardlogo3Css a:link{
	font-family: 'Poppins', sans-serif;
color:white;
    font-size: 15px;
    font-weight: 500;
	background-image: linear-gradient(to right, #0e05c6, #6040fd) ;
    border-radius:15px;	
    border:1px white solid; padding:15px 50px 15px 50px;  text-decoration:none;
}
#standardlogoCss #standardlogo2Css #standardlogo3Css a:visited{color:white;}
#standardlogoCss #standardlogo2Css #standardlogo3Css a:hover{
	background-image: linear-gradient(to right, #6040fd, #0e05c6 ) ; border:none;
}
#standardlogoCss #standardlogo2Css #standardlogo3Css a:active{color:green;}



.accordionCss{
	padding:100px 0px 100px 0px;
}

.faqsCss h5{
	color: #74cad4;
	font-family: 'monospace' sans-serif;
	font-weight:600;
}
.faqsCss h3{
	color: #1d0f6d;
	font-family: 'monospace' sans-serif;
	font-weight:600;
}
.faqsCss p{
	color: #5e5d5c;
	font-family: 'monospace' sans-serif;
	font-size: 17px;
}
.faqsCss{
	text-align:center;
}

#panelCss #panelheadCss{
	background-image:linear-gradient(to right, #0e05c6, #140173);
}

#panelCss #panelheadCss h4 a:link{
	text-decoration:none; color:white;
font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    
}

#panelCss .collapse .panel-body ul li{
	list-style-type:;
	color: #5e5d5c;
	font-family: 'monospace' sans-serif;
	font-size: 18px;
}

.footerCss #footer2Css #footer3Css .footernavCss li{
	display:inline; padding:3px;
}

.footerCss{padding:20px;}

.footerCss #footer2Css #footer3Css .footernavCss{
	text-decoration:none;
}


.footerCss #footer2Css p{text-align:center;}






#aboutHomeCss h1{
	text-align:center; color:blue;
	font-family: '	Georgia', serif;
    font-weight: 600;
    line-height: 40px;
}


#aboutHomeCss p{
	text-align:center; font-size:20px;
	font-family: 'Verdana',  Sans-serif;
}


#aboutHomeCss{
	padding:0px 0px 150px 0px;
}

#thumbnailCss{
	border:none;
}


#thumbnailCss h3{
	text-align:center; color:blue;
}

#servicesCss1{
	background-image:url(/img/backgService.jpg);
background-size:cover; 
background-position:center;
background-repeat:no-repeat;
background-attachment:fixed;
padding:70px 0px 70px 0px;
}



#ssCss{
	margin:auto;
}



.servicesCss{
	padding:100px 0px 100px 0px;
}


#getStartedCss{
	margin:;
}
#getStartedCss a:link{
	text-align:center; font-family: 'Poppins', sans-serif;
color:white;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px; background-image:  linear-gradient(to right, #0e05c6, #140173) ;
	border-radius:15px; 
font-weight: 500; padding:15px; text-decoration:none;
}
#getStartedCss a:visited{
	color:white;
}
#getStartedCss a:hover{
	background-image: linear-gradient(to right, #0e05c6, #6040fd);
color:white; border-radius:15px; 
font-weight: 500; transition:0.3s;
}
#getStartedCssa:active{
	color:green;
}




.textlogoCss{padding:100px 0px;
background-image:url(backgService.jpg);
background-size:cover; 
background-position:center;
background-repeat:no-repeat;
background-attachment:fixed;}

.headingCss h1{
	text-align:center; color:blue;
	font-family: 'Georgia', serif;
    font-weight: 600;
    line-height: 60px;
}

.headingCss{
	border-bottom:1px black solid;
}

.footerCss2{
	border-top:1px black solid;
}

.abouttextCss h2{
	text-align:center;
	font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}
.abouttextCss p{
	text-align:center;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
   font-size:18px;
}

.footerCss2 p{
	text-align:center;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
   font-size:18px;
   color:blue;
}

.footerCss2 a:link{
	background-image: linear-gradient(to right, #0e05c6, #010101 ) ;  padding:15px;
	color:white; border-radius:15px; text-decoration:none;  font-weight: 400;
}
.footerCss2 a:visited{
	color:white;
}
.footerCss2 a:hover{
	background-image: linear-gradient(to right, #6040fd, #0e05c6 ) ; 
}
.footerCss2 a:active{
	color:green;
}

.goldfooterCss2 p{
	text-align:center;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
   font-size:18px;
   color:blue;
}

.goldfooterCss2 a:link{
	background-image: linear-gradient(to right, #0e05c6, #010101 ) ;  padding:15px;
	color:white; border-radius:15px; text-decoration:none;  font-weight: 400;
}
.goldfooterCss2 a:visited{
	color:white;
}
.goldfooterCss2 a:hover{
	background-image: linear-gradient(to right, #6040fd, #0e05c6 ) ; 
}
.goldfooterCss2 a:active{
	color:green;
}

.goldheadingCss h1{
	text-align:center;
	font-family: 'Poppins', sans-serif;
    font-weight: 800;
   
   color:blue;
}

.goldheadingCss h2{
	text-align:center;
	font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.goldcontetCss ul{list-style:none;}
.goldcontetCss ul li{padding:8px;
	text-align:center;
	font-family: 'Poppins', sans-serif;
    font-weight: 500;
   font-size:18px;
}

.goldcontetCss{border:1px solid blue;}




























@media screen and (max-width: 768px) {
 	#navcontentCss #linksCss ul{
	margin-top:80px; text-align:center; border:none;}
		#nav1Css{
	background-image:linear-gradient(to right, #0e05c6, #140173) ;
}
#getCss #get2Css h1{ margin-top:0px; text-align:center;}
#getCss #get2Css ul{text-align:center;}	




}
 


/* On screens that are 600px or less, set the background color to olive */





@media  (max-width: 992px) {
 #packages{
	 padding: 75px;
 }

 #packages #subpackCss {
	 margin-bottom: 30px;
 }

 #standardlogoCss {
	 padding: 40px;
 }

 .accordionCss {
	 padding: 15px;
 }

 #website {
	 margin-top: 30px;
 }
		
}














